@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=PT+Sans+Narrow&family=Tektur&family=Victor+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:'Roboto', sans-serif ;
}

.navbar{
    flex-flow:row wrap;
    display:flex;
    height: 100%;
    background: #099982;
    justify-content: center;
    align-items: center;
}



.logo{
    flex: 20%;
    /* border: 1px solid red; */
    text-align: left;
    padding-bottom: 10px;
    margin-left:10%;

}
.logo h2{
    padding-top:20px ;
    text-align: center;
    font-family: 'Victor Mono', monospace;
    font-weight: bolder;
    color:white;

}
.logo h1{
    padding-top: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 34px;
    color: white	;
    font-weight: bold;

}

.menu{
    flex: 70%;
    /* border: 1px solid yellow; */
    text-align: right;
    padding: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding:20px 16px;
}
.menu a:hover {
    color:#b4f7ee;
    border-top: 4px solid #b4f7ee;
}

#contato{
    background:#126c88;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#contato:hover{
    border: none;
    background:#015043;
    color: white;
}


.header{
    display: flex;
    height:auto;
    background: white;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.headline{
    padding-top: 5px;
    flex: 40%;
    margin-left: 10%;

}

.img-headline{
    margin-right: 10%;
    flex: 40%;
  
}

.headline h2{
    font-weight: 900px;
    font-size: 20px;
    color:black ;
    padding: 0px;
    margin: 0px;
}

.headline p {
    color: gray;
    text-align: left;
    padding: 10px 0px 10px 0px;
}

.contact-btn{
    display: inline-block;
    background-color:#099982;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}

.contact-btn:hover{
    background-color: #015043;
}


@media screen and (max-width:700px){
    .menu{
        flex: 50%;
    }
    .logo{
        flex: 40%;
        padding-right: 10px;
    }
}